# WordPress
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Dependencies
node_modules/
vendor/
composer.phar
package-lock.json
yarn.lock

# Build files
*.log
npm-debug.log*
dist/
build/

# Environment files
.env
.env.local
